<!DOCTYPE html>
<html>
 <head>
  <title>Ludum 27</title>

  <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/underscore.string/dist/underscore.string.min.js"></script>
  <script src="bower_components/howler/howler.min.js"></script>
  <script src="bower_components/async/lib/async.js"></script>

  <script src="vendor/html2canvas.js"></script>
  <script src="vendor/glitch.js"></script>

  <script src="js/main.js"></script>

  <link rel="stylesheet" href="css/main.css">
 </head>

 <body>
  <div id="background">
   <div id="initializing">
    initialize warp<br>
    warp coil malfunction<br>
    sentient creep malform%%#<br>
    breach imminent
   </div>
  </div>

  <div id="instructions">
   <p><strong>feed me word things</strong> is a game of typing in space. see how
   long you can survive.</p>

   <p>PRESS ENTER &#9632;</p>
  </div>


  <div id="after">
   <p>You reached level <span id="level">1</span>, survived for <span
    id="seconds">10</span> seconds, and completed <span
    id="correct-words">0</span> words.</p>

   <p>You typed <span id="correct">0</span> characters correctly and <span
    id="incorrect">0</span> characters incorrectly for an accuracy of <span
    id="accuracy">100</span>%.</p>

   <p>Please choose your favorite word to play again:</p>

   <ul id="correct-words-list"></ul>
  </div>

  <div id="game">
   <h1 id="countdown-wrapper"><span id="countdown">10</span> seconds until <span
     id="disaster">impact</span></h1>

   <div id="words"></div>
  </div>

  <script id="word-template" type="lodash/template">
   <% _.forEach(words, function (word) { %>
    <div class="word">
    <% _.forEach(word.split(''), function (letter) { %>
     <span class="letter"><%= letter %></span>
    <% }); %>
    </div>
   <% }); %>
  </script>
 </body>
</html>
